<html>
  <meta charset="utf-8"></meta>
	<script src = "./static/js/Chart.js"></script>
        <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
   <link rel = "stylesheet" href = "./static/css/flat-ui.css">
      <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="./static/js/flat-ui.min.js"></script>
    <script src="./static/js/application.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
  <head>
    <title>知乎点赞用户分析</title>
  </head>
  <body>
    <div id = "search" style="width:50%;height:auto;border:0px solid #000000;margin:0 auto;align:center">        
         <!-- <div class="form-search"> -->
          <form action = "" method="post" class="form-inline">
             <input type="text" class="form-control input-hg" placeholder="知乎问题链接" style = "width:80%" id="url" name = "url"/>          
             <input class="btn btn-hg btn-primary" id="submitBtn" style = "cursor:pointer" type = "submit" value = "Search"/>
         </form>
   </div>   

   <div id = "userInfo" style = "width:90%;height:auto;margin:0 auto">
      <table class = "table table-hover">
        <thead>
          <tr> 
            <th>排名</th>
            <th>用户名</th>
            <th>点赞数</th>
            <th>答案ID</th>
          </tr>
        </thead>
        <tbody>
        {% for result in results %}
          <tr>
            <th>{{loop.index}}</th>
            <th>{{result[1]}}</th>
            <th>{{result[2]}}</th>
            <th>{{result[0]}}</th>
            <th><button class = "btn btn-primary" onClick = "getUrl({{result[0]}})">分析</button></th>
          </tr>
        {% endfor%}
        </tbody>
      </table>
   </div>
   
<!-- Modal 显示图表的区域-->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">用户分析</h4>
      </div>
      <div class="modal-body">
           <div id = "loading">正在加载中...</div>
            <div id = "like" style="width: 50%;float:left">      
          <div>
              <canvas id="like_Chart" width="400" height="450"></canvas>
          </div>
          <div style = "text-align:center;font-weight:bold;font-size:13">点赞用户获取的like分布图</div>
       </div>

       <div id = "thank" style="width:50%;float:left">      
          <div >
              <canvas id="thank_Chart" width="400" height="450"></canvas>
          </div>
          <div style = "text-align:center;font-weight:bold;font-size:13">点赞用户获取的thank分布图</div>
       </div>

       <div id = "question" style="width:50%;float:left">      
          <div >
              <canvas id="question_Chart" width="400" height="450"></canvas>
          </div>
           <div style = "text-align:center;font-weight:bold;font-size:13">点赞用户提出的question分布图</div>
       </div>

       <div id = "answer" style="width:50%;float:left">      
          <div >
              <canvas id="answer_Chart" width="400" height="450"></canvas>
          </div>
           <div style = "text-align:center;font-weight:bold;font-size:13">点赞用户回答的answer分布图</div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 显示图表的区域 end-->

<!--
   <div id = "chart" style = "width:90%;height:auto;border:0px solid #000000;margin:0 auto">
      <div id = "like" style="width: 25%;float:left">      
          <div>
              <canvas id="like_Chart" width="400" height="450"></canvas>
      	  </div>
          <div style = "text-align:center;font-weight:bold;font-size:13">点赞用户获取的like分布图</div>
       </div>

       <div id = "thank" style="width:25%;float:left">      
          <div >
              <canvas id="thank_Chart" width="400" height="450"></canvas>
          </div>
          <div style = "text-align:center;font-weight:bold;font-size:13">点赞用户获取的thank分布图</div>
       </div>

       <div id = "question" style="width:25%;float:left">      
          <div >
              <canvas id="question_Chart" width="400" height="450"></canvas>
          </div>
           <div style = "text-align:center;font-weight:bold;font-size:13">点赞用户提出的question分布图</div>
       </div>

       <div id = "answer" style="width:25%;float:left">      
          <div >
              <canvas id="answer_Chart" width="400" height="450"></canvas>
          </div>
           <div style = "text-align:center;font-weight:bold;font-size:13">点赞用户回答的answer分布图</div>
       </div>
    </div>
-->
  <div id = "footer" style = "text-align:center;position:absolute;bottom: 10px;width:100%;">Powered by loster</div>
</body>
  
<script type = "text/javaScript">
window.onload = function()
{
  $('#like').hide();
  $('#thank').hide();
  $('#answer').hide();
  $('#question').hide();
}
function getUrl(url)
{
    $('#submitBtn').attr("disabled","disabled");
    $('#submitBtn').text("Searching");
    //获取链接
    // url = $('#url').val();
    console.log(url);
    // posturl = "/url/"+url;
    url = "http://www.zhihu.com/answer/" + url;
    postdata(url);
    $('#myModal').modal('show');
    $('#like').hide();
    $('#thank').hide();
    $('#answer').hide();
    $('#question').hide();
    $('#loading').show();
}

function postdata(url)
{
    $.ajax({
        type:"POST",
        url:"/url",
        data:{"url":url},
        dataType:"json",
        success:function(data)
        {
            console.log(data);
            result = eval(data);
            //alert("success");
            showBarChart(result);
            showPieChart(result);
        }
    });
}

function showBarChart(result)
{
		
    $('#submitBtn').removeAttr("disabled");
    $('#submitBtn').text("Search");

    $('#like').show();
    $('#thank').show();
    $('#question').show();
    $('#answer').show();
    $('#loading').hide();
		var likeChartData = {
      labels : result['like_value'],
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          data : result['like_num']
        },
      ]
      
    }

    var thankChartData = {
      labels : result['thank_value'],
      datasets : [
        {
          fillColor : "rgba(151,187,205,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          data : result['thank_num']
        },
      ]
      
    }

    var questionChartData = {
      labels : result['question_value'],
      datasets : [
        {
          fillColor : "rgba(100,220,220,0.5)",
          strokeColor : "rgba(100,220,220,1)",
          data : result['question_num']
        },
      ]
      
    }

    var answerChartData = {
      labels : result['answer_value'],
      datasets : [
        {
         fillColor : "rgba(200,100,205,0.5)",
         strokeColor : "rgba(200,100,205,1)",
         data : result['answer_num']
        },
      ]
      
    }

  var likeLine = new Chart(document.getElementById("like_Chart").getContext("2d")).Bar(likeChartData);

  var thankLine = new Chart(document.getElementById("thank_Chart").getContext("2d")).Bar(thankChartData);

  var questionLine = new Chart(document.getElementById("question_Chart").getContext("2d")).Bar(questionChartData);

  var answerLine = new Chart(document.getElementById("answer_Chart").getContext("2d")).Bar(answerChartData);
}


function showPieChart(result)
{
  var likePieData = [
        {
          value: result['like_num'][0],
          color:"#F38630"
        },
        {
          value : result['like_num'][1],
          color : "#E0E4CC"
        },
        {
          value : result['like_num'][2],
          color : "#69D2E7"
        },
        {
          value : result['like_num'][3],
          color : "#FFD700"
        },
        {
          value : result['like_num'][4],
          color : "#FFD39B"
        }
      
      ];

  var likePie = new Chart(document.getElementById("like_pieChart").getContext("2d")).Pie(likePieData);
}
</script>
</html>